.overall-layout {
  display: flex;
  flex-direction: row;
}

.side-bar {
  min-width: 200px;
  background-color: $sidebar-bg;
  color: $sidebar-text-light;

  display: flex;
  flex-direction: column;
}

.content {
  background-color: $content-bg;
  color: $content-text;
  height: 94vh;
}

.right-side {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.top-bar {
  min-height: 50px;
  background-color: $top-bar-bg;
  color: top-bar-text;
}

.tree-container {
  height: 500px;
}

.cell {
  width: 40px;
  height: 40px;
  background-color: rgb(49, 59, 107);
  display: inline;
}

.board-grid {
  display: grid;
  grid-template-columns: 40px 40px 40px 40px 40px 40px 40px 40px 40px;
  background-color: #484d50;
  width: 360px
}
