.menu-item-active {
  color: $sidebar-text-light;
  background-color: $sidebar-active-bg;
  padding: 15px;
}

.menu-item-no-active {
  color: $sidebar-text-dim;
  padding: 15px;
  &:hover {
    color: $sidebar-text-light;
  }
}

.logo {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  color: #6785a7;
}
