
// TOP BAR
$top-bar-bg: #36394c;
$top-bar-text: #b9bac1;

// SIDEBAR
$sidebar-bg: #2a3142;
$sidebar-active-bg: #2a3142;
$sidebar-text-light: #a7c9cb;

// CONTENT
$content-bg: #252735;
$content-comp-bg: #a7c9cb;
$content-text: #b9bac1;

// PILLARS
$pillar-bg: #626ed4;
$pillar-text-bright: #faf8fe;
$pillar-text-dim: #b1b6ea;


// COLORS
$color-blue: #a7c9cb;
$color-green: #02a499;
$color-red: #ec4561;
$color-yellow: #a7c9cb;
